#### AQUI PONGAN SUS ENTORNOS VIRTUALES ######
/Env  


### OTROS ARCHIVOS BASURA ###

/flask_session

/dev_branchCommand.txt

/logica.txt

/temp
#### Carpetas de seguridad ###
/Web-App/informacion

Web-App\Utilidades\__pycache__

vinculaciones.csv