#### AQUI PONGAN SUS ENTORNOS VIRTUALES ######
/Env  


### OTROS ARCHIVOS BASURA ###

/flask_session

/dev_branchCommand.txt
/Web-App\Util\__pycache__
/logica.txt
notas.txt
/temp
#### Carpetas de seguridad ###

/Web-App/Util/.env 