<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styleHome.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet"> 
    <title>Municipalidad de Santiago</title>
</head>
<body>
    <div class="navbar">
        <img src="{{ url_for('static', filename='iconos/logo-munistgo.png') }}">
        <div class="menu-items">
            <div class="menu-group">
                <a class="item" href="#inicio">Inicio</a>
                <a class="item" href="#tusCargas">Tus Cargas</a>
                <a class="item" href="#soporte">Soporte</a>
                <a class="item" href="#cuenta">Cuenta</a>
                <input type="submit" value="Cargar Archivo">
            </div>
        </div>
    </div>

    <!-- Sección de Inicio -->
    <section id="inicio" style="display:block;">
        <div class="contenedor-inicio">
            <img src="{{ url_for('static', filename='iconos/imagen.png') }}">
            <div class="texto-inicio">
                <h2>¿Qué ES FORMULARIO AGIL?</h2>
                <p>Es una web la cual te permite manejar filtros
                    de archivos excel cargados. actualizar tus
                    bases de datos. La funcion de este sitio web
                    es ayudarte a optimizar tu tiempo en tareas
                    manuales que mediante filtros mas
                    automatizados te permiten un mejor flujo de
                    trabajo.</p>
                    <br>
                <input type="button" value="Pruebalo">
            </div>
        </div>
    </section>

    <!-- Sección de Tus Cargas -->
    <section id="tusCargas" style="display:none;">
        <h2>Tus Cargas</h2>
        <p>Esta sección te permitirá gestionar y visualizar todas tus cargas de archivos.</p>
    </section>

    <!-- Sección de Soporte -->
    <section id="soporte" style="display:none;">
        <h2>Soporte</h2>
        <p>¿Necesitas ayuda? Esta sección te proporcionará toda la información y soporte necesario.</p>
    </section>

    <!-- Sección de Cuenta -->
    <section id="cuenta" style="display:none;">
        <h2>Cuenta</h2>
        <p>Administra los detalles de tu cuenta, cambia tu contraseña y actualiza tu información personal.</p>
    </section>

<script src="{{ url_for('static', filename='js/home.js') }}"></script>
</body>
</html>