/* Estilos generales */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    color: #f1f1f1; /* Cambia el color del texto a blanco off white */
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: url(../iconos/fondoweb.jpg) no-repeat center center/cover;
}

.main-content {
    min-height: calc(100vh - 200px); /* Altura mínima de la ventana menos la altura del footer */
    display: flex;
    flex-direction: column;
}

.navbar {
    height: 100px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Distribuye los elementos de manera uniforme */
    border: 1px solid rgba(255, 255, 255, 0.3); /* Contorno acorde al estilo del sitio */
    border-radius: 10px; /* Bordes redondeados */
    background-color: rgba(255, 255, 255, 0.2); /* Fondo blanco con transparencia */
    backdrop-filter: blur(10px); /* Efecto de desenfoque */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
}

.navbar img {
    width: 10%;
    height: 100%;
}

.nav-link {
    color: #f1f1f1; /* Cambia el color del texto a blanco off white */
    font-size: 20px;
    transition: color 0.3s;
    margin-right: 10px;
    white-space: nowrap; /* Evita que el texto se rompa en varias líneas */
    overflow: hidden; /* Oculta el desbordamiento */
    text-overflow: ellipsis; /* Añade puntos suspensivos si el texto es demasiado largo */
}

.nav-link:focus,
.nav-link:active,
.nav-link:hover {
    color: #f1f1f1; /* Mantén el color blanco off white */
}

.btn-primary {
    background-color: #9191bd;
    border-color: #9191bd;
}

.btn-primary:hover {
    background-color: #6f6f9b;
    border-color: #6f6f9b;
}

.section {
    padding-top: 100px; /* Ajusta este valor según la altura de tu barra de navegación */
    margin-top: -100px;
}

/* Estilos para la sección de Cursos */
#cursos {
    padding: 50px 0;
    background-color: transparent; /* Cambiar a transparente */
    border-radius: 10px;
    box-shadow: none; /* Eliminar sombra */
}

#cursos h2 {
    font-size: 45px; /* Aumenta el tamaño de la fuente */
    margin-bottom: 20px;
    color: #f1f1f1; /* Cambia el color del texto a blanco off white */
}

#cursos h3 {
    font-size: 22px; /* Aumenta el tamaño de la fuente */
    margin-bottom: 10px;
    color: #f1f1f1; /* Cambia el color del texto a blanco off white */
}

#cursos-lista {
    max-height: 400px;
    overflow-y: auto;
    border: 1px solid rgba(255, 255, 255, 0.3); /* Borde blanco con transparencia */
    border-radius: 10px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.2); /* Fondo blanco con transparencia */
    backdrop-filter: blur(10px); /* Efecto de desenfoque */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
}

#cursos-lista p {
    font-size: 20px; /* Aumenta el tamaño de la fuente */
    color: #f1f1f1; /* Cambia el color del texto a blanco off white */
    margin-bottom: 10px;
    padding: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3); /* Borde blanco con transparencia */
}

#cursos-lista p:last-child {
    border-bottom: none;
}

/* Estilos para las tarjetas con efecto vidrio lechoso */
.card {
    background-color: rgba(255, 255, 255, 0.2); /* Fondo blanco con transparencia */
    backdrop-filter: blur(10px); /* Efecto de desenfoque */
    border: 1px solid rgba(255, 255, 255, 0.3); /* Borde blanco con transparencia */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
    border-radius: 10px; /* Bordes redondeados */
    color: #f1f1f1; /* Cambia el color del texto a blanco off white */
    padding: 20px; /* Espaciado interno */
    transition: background-color 0.3s, border-color 0.3s; /* Transiciones suaves */
}

.card:hover {
    background-color: rgba(145, 145, 189, 0.2); /* Fondo con tinte morado al pasar el ratón */
    border-color: rgba(145, 145, 189, 0.3); /* Borde con tinte morado al pasar el ratón */
}

/* Estilos para la tarjeta de vidrio */
.glass-card {
    background-color: rgba(255, 255, 255, 0.2); /* Fondo blanco con transparencia */
    backdrop-filter: blur(10px); /* Efecto de desenfoque */
    border: 1px solid rgba(255, 255, 255, 0.3); /* Borde blanco con transparencia */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
    border-radius: 10px; /* Bordes redondeados */
    padding: 20px; /* Espaciado interno */
    margin-top: 20px; /* Espaciado superior */
}

.description {
    font-size: 20px; /* Aumenta el tamaño de la fuente */
    color: #f1f1f1; /* Cambia el color del texto a blanco off white */
}

/* Estilos para la tarjeta de vista previa del Excel */
#excel-preview {
    max-height: 400px;
    overflow-y: auto;
    border: 1px solid rgba(255, 255, 255, 0.3); /* Borde blanco con transparencia */
    border-radius: 10px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.2); /* Fondo blanco con transparencia */
    backdrop-filter: blur(10px); /* Efecto de desenfoque */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
}

/* Estilos para el footer */
.footer {
    background-color: rgba(255, 255, 255, 0.2) !important; /* Fondo blanco con transparencia */
    backdrop-filter: blur(10px) !important; /* Efecto de desenfoque */
    border: 1px solid rgba(255, 255, 255, 0.3) !important; /* Borde blanco con transparencia */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1) !important; /* Sombra */
    color: #f1f1f1 !important; /* Cambia el color del texto a blanco off white */
    padding: 20px 0 !important; /* Espaciado interno */
    width: 100% !important; /* Asegura que el footer ocupe todo el ancho */
    overflow: hidden !important;
    height: 200px !important;
}

.footer h5, .footer p, .footer a {
    color: #f1f1f1; /* Cambia el color del texto a blanco off white */
}

.footer a:hover {
    color: #d1c4e9; /* Color del texto al pasar el ratón */
    text-decoration: none; /* Sin subrayado */
}

.footer .list-unstyled {
    padding-left: 0; /* Sin sangría */
    list-style: none; /* Sin viñetas */
}

.footer-logo {
    width: 250px; /* Ajusta el tamaño de la imagen */
    height: auto;
    position: absolute; /* Posiciona la imagen de forma absoluta */
    bottom: 10px; /* Ajusta la posición vertical */
    left: 10px; /* Ajusta la posición horizontal */
}

/* Estilos para los textos dentro de todos los modales */
.modal-content {
    color: #000 !important; /* Cambia el color del texto a negro con prioridad */
}

/* Asegúrate de que los elementos específicos dentro de los modales también tengan el color negro */
.modal-content h2,
.modal-content h5,
.modal-content label,
.modal-content input,
.modal-content p {
    color: #000 !important; /* Cambia el color del texto a negro con prioridad */
}

/* Estilos específicos para el encabezado del modal */
.modal-header {
    color: #000 !important; /* Cambia el color del texto del encabezado a negro */
}

/* Estilos adicionales para el modal de inscripción */
.modal-body {
    max-height: 70vh;
    overflow-y: auto;
  }
  
  .accordion-item {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .accordion-button {
    background-color: #f8f9fa;
  }
  
  .accordion-button:not(.collapsed) {
    color: #0d6efd;
    background-color: #e9ecef;
  }
  
  .accordion-body {
    padding: 10px;
  }

  /* Estilos para el modal */
.modal-content {
    color: #000; /* Cambia el color del texto a negro */
}

/* Estilos para la lista de cursos */
.list-group-item {
    cursor: pointer;
}

.list-group-item:hover {
    background-color: #f1f1f1; /* Cambia el fondo al pasar el ratón */
}

/* Estilo para el elemento seleccionado */
.list-group-item.selected {
    background-color: #007bff; /* Color de fondo azul */
    color: white; /* Color del texto blanco */
}


#inputs-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 10vh; /* Ajusta según sea necesario */
    font-family: Arial, sans-serif;
}

h5 {
    font-size: 1.2em;
    color: #333;
    text-align: center;
}


#submit-button-course {
    display: inline-block;
    padding: 10px 20px;
    margin: 20px;
    cursor: pointer;
    background-color: #008CBA;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    text-align: center;
    transition: .3s;
  }

#submit-button-course:hover{
    background-color: #60ffc3;
    cursor: pointer;
    color: black;
    transform:  scale(1.1);
}


.cargar-certificado-section {
    display: none;
    padding: 40px; /* Aumentar padding para más espacio interior */
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    margin: 40px auto; /* Centrar la sección horizontalmente */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 80%; /* Más ancha */
    min-height: 700px; /* Más alta */
}

#cargar-certificado-form {
    display: flex;
    align-items: flex-start;
    gap: 40px; /* Aumentar espacio entre los elementos */
    height: 100%;
}

.asistentes-lista-container {
    flex: 1;
    border: 1px solid rgba(255, 255, 255, 0.5);
    padding: 20px; /* Aumentar padding para más espacio interior */
    height: 100%;
    overflow-y: auto;
    margin-right: 20px;
    background: rgba(255, 255, 255, 0.096);
    border-radius: 10px;
}

.asistentes-lista-container h3 {
    margin-top: 0;
    color: white;
}

.asistentes-lista {
    list-style: none;
    padding: 0;
    margin: 0;
}

.asistentes-lista li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.asistentes-lista input[type="checkbox"] {
    margin-right: 10px;
}

.curso-select-container, .archivo-input-container {
    display: flex;
    flex-direction: column;
    gap: 20px; /* Aumentar espacio entre elementos dentro de cada contenedor */
    width: 100%;
}

.curso-select-container label, .archivo-input-container label {
    font-weight: bold;
    margin-bottom: 5px;
    color: white;
}

.curso-select-container select, .archivo-input-container input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
}

.archivo-input-container input {
    padding: 5px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}

.btn-primary {
    background-color: #6a1b9a; /* Morado */
}

.btn-secondary {
    background-color: #00c853; /* Verde */
}

#certificado {
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 20px;
}

/* Estilos para los contenedores */
#select-curso-container,
#select-asistente-container,
#upload-file-container {
    margin-bottom: 15px;
}

/* Estilos para las etiquetas */
#certificado label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

/* Estilos para los selectores */
#certificado select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    font-size: 16px;
}

/* Estilos para el input de archivo */
#certificado input[type="file"] {
    display: block;
    margin-top: 10px;
}