/* Estilos generales */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: url(../iconos/fondo.png) no-repeat center center/cover;
}

.main-content {
    min-height: calc(100vh - 200px); /* Altura mínima de la ventana menos la altura del footer */
    display: flex;
    flex-direction: column;
}

.navbar {
    height: 100px;
    padding: 0 20px;
}

.navbar img {
    width: 10%;
    height: 100%;
}

.nav-link {
    color: #fff;
    font-size: 20px;
    transition: color 0.3s;
    margin-right: 10px;
}

.nav-link:hover {
    color: #9191bd;
}

.btn-primary {
    background-color: #9191bd;
    border-color: #9191bd;
}

.btn-primary:hover {
    background-color: #6f6f9b;
    border-color: #6f6f9b;
}

.section {
    padding-top: 100px; /* Ajusta este valor según la altura de tu barra de navegación */
    margin-top: -100px;
}

/* Estilos para la sección de Cursos */
#cursos {
    padding: 50px 0;
    background-color: transparent; /* Cambiar a transparente */
    border-radius: 10px;
    box-shadow: none; /* Eliminar sombra */
}

#cursos h2 {
    font-size: 45px; /* Aumenta el tamaño de la fuente */
    margin-bottom: 20px;
    color: #000; /* Cambia el color del texto a negro */
}

#cursos h3 {
    font-size: 22px; /* Aumenta el tamaño de la fuente */
    margin-bottom: 10px;
    color: #000; /* Cambia el color del texto a negro */
}

#cursos-lista {
    max-height: 400px;
    overflow-y: auto;
    border: 1px solid rgba(255, 255, 255, 0.3); /* Borde blanco con transparencia */
    border-radius: 10px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.2); /* Fondo blanco con transparencia */
    backdrop-filter: blur(10px); /* Efecto de desenfoque */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
}

#cursos-lista p {
    font-size: 20px; /* Aumenta el tamaño de la fuente */
    color: #000; /* Cambia el color del texto a negro */
    margin-bottom: 10px;
    padding: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3); /* Borde blanco con transparencia */
}

#cursos-lista p:last-child {
    border-bottom: none;
}

/* Estilos para las tarjetas con efecto vidrio lechoso */
.card {
    background-color: rgba(255, 255, 255, 0.2); /* Fondo blanco con transparencia */
    backdrop-filter: blur(10px); /* Efecto de desenfoque */
    border: 1px solid rgba(255, 255, 255, 0.3); /* Borde blanco con transparencia */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
    border-radius: 10px; /* Bordes redondeados */
    color: #000; /* Color del texto */
    padding: 20px; /* Espaciado interno */
    transition: background-color 0.3s, border-color 0.3s; /* Transiciones suaves */
}

.card:hover {
    background-color: rgba(145, 145, 189, 0.2); /* Fondo con tinte morado al pasar el ratón */
    border-color: rgba(145, 145, 189, 0.3); /* Borde con tinte morado al pasar el ratón */
}

/* Estilos para la tarjeta de vidrio */
.glass-card {
    background-color: rgba(255, 255, 255, 0.2); /* Fondo blanco con transparencia */
    backdrop-filter: blur(10px); /* Efecto de desenfoque */
    border: 1px solid rgba(255, 255, 255, 0.3); /* Borde blanco con transparencia */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
    border-radius: 10px; /* Bordes redondeados */
    padding: 20px; /* Espaciado interno */
    margin-top: 20px; /* Espaciado superior */
}

.description {
    font-size: 20px; /* Aumenta el tamaño de la fuente */
    color: #000; /* Color del texto */
}

/* Estilos para la tarjeta de vista previa del Excel */
#excel-preview {
    max-height: 400px;
    overflow-y: auto;
    border: 1px solid rgba(255, 255, 255, 0.3); /* Borde blanco con transparencia */
    border-radius: 10px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.2); /* Fondo blanco con transparencia */
    backdrop-filter: blur(10px); /* Efecto de desenfoque */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
}

/* Estilos para el footer */
.footer {
    background: linear-gradient(135deg, #4f8fc8, #5f4898, #8a76b1); /* Gradiente de color invertido */
    color: #fff; /* Color del texto blanco */
    padding: 20px 0; /* Espaciado interno */
    border-top: 1px solid rgba(255, 255, 255, 0.3); /* Borde superior blanco con transparencia */
    width: 100%; /* Asegura que el footer ocupe todo el ancho */
    overflow: hidden;
    height: 200px;
}

.footer h5 {
    font-size: 20px; /* Tamaño de fuente */
    margin-bottom: 15px; /* Espaciado inferior */
    color: #fff; /* Color del texto */
}

.footer p, .footer a {
    font-size: 16px; /* Tamaño de fuente */
    color: #fff; /* Color del texto */
    margin-bottom: 10px; /* Espaciado inferior */
}

.footer a:hover {
    color: #d1c4e9; /* Color del texto al pasar el ratón */
    text-decoration: none; /* Sin subrayado */
}

.footer .list-unstyled {
    padding-left: 0; /* Sin sangría */
    list-style: none; /* Sin viñetas */
}

.footer-logo {
    width: 250px; /* Ajusta el tamaño de la imagen */
    height: auto;
    position: absolute; /* Posiciona la imagen de forma absoluta */
    bottom: 10px; /* Ajusta la posición vertical */
    left: 10px; /* Ajusta la posición horizontal */
}